$cell-size: 100%;
$color-border: #0d3ee1d7;
$color-circler: #e61616;
$mark-size: 70%;
$mark-border: 10px solid $color-circler;
$mark-border-hover: 10px solid gray;
$color-text: #fff;
$color-container: #393939;