$cell-size: 100%;
$color-border: #2b2b29;
$color-circler: #2b2b29;
$mark-size: 70%;
$mark-border: 10px solid $color-circler;

*{
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

.board {
    margin: 0 auto;
    width: 40vw;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3,auto);
  

    .cell {
        display: flex;
        border: solid 5px $color-border;
        height: $cell-size;
        cursor: pointer;
        position: relative;
        justify-content: center;
        align-items: center;
     
        &:nth-child(-n + 3){
            border-top: none;
        }
        &:nth-child(3n + 1){
            border-left: none;
        }
    
        &:nth-child(3n + 3){
            border-right: none;
        }
        &:nth-last-child(-n + 3){
            border-bottom:  none;
        }
    }
  
}

.circler::after {
    content: '';
    width: $mark-size;
    height: $mark-size;
    color: $color-circler;
    border-radius: 50%;
    border: $mark-border;
    position: absolute;
}

.cross::after,
.cross::before {
    content: '';
    width: 0;
    height: $mark-size;
    border-left: $mark-border;
    position: absolute;
    top: 50%;
    left: 50%;
}

.cross::after{
    transform: translate(-50%, -50%) rotate(45deg);
}
.cross::before{
    transform: translate(-50%, -50%) rotate(-45deg);
}
